  /*----------RESETS----------*/
body, p, ul, li, a, img {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: none;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}





/*----------BASICS----------*/
body {
  /*font-family: "open sans",arial,sans-serif;*/
  background: lightgreen;
  color: black;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;
  text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

p {
  font-size: 22px;
  margin-bottom: 25px;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
}

a:hover {

}

a:active {

}

a:visited {

}

img {
  display: block;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}





/*----------HEADER----------*/
header {
  background: white;
  color: black;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
  min-width: 1021px;
  padding: 20px 0;
}

.name-in-header {
  /*background: blue;*/
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 700;
}

.div-for-links-in-header {
  /*background: lightgreen;*/
  float: right;
}

.ul-for-links-in-header > li {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid orange;
}





/*----------MAIN CONTENT----------*/
.main-content {
  min-width: 1021px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}





/*----------MAIN CONTENT - SECTION ONE - NAME / JOB TITLE----------*/
.section-one {
  background: whitesmoke;
  /*height: 500px;*/
  padding: 150px 0;
  text-align: center;
}

.name-in-section-one {
  background: cyan;
  font-size: 72px;
  font-weight: 300;
}

.job-title-in-section-one {
  background: red;
  font-size: 42px;
}

.faux-button-in-section-one {
  background: #66a0fd;
  margin: 0 auto;
  padding: 5px 0;
  width: 15%;
  border-radius: 2px;
  font-size: 18px;
  /*font-weight: 300;*/
}




/*----------MAIN CONTENT - SECTION TWO - SUMMARY----------*/
.header-one {
  /*background: lightblue;*/
  display: inline-block;
  margin: 0 auto 10px auto;
  font-size: 52px;
  font-weight: 300;
  border-bottom: 2px solid orange;
}

.section-two {
  background: white;
  text-align: center;
}

.section-two-paragraphs-div {
  background: grey;
  margin: 0 5%;
  text-align: left;
}

.center-aligned-paragraph {
  text-align: center;
}




/*----------MAIN CONTENT - SECTION THREE - SKILLS----------*/
.section-three {
  margin-top: 100px;
  background: white;
  text-align: center;
  font-size: 22px;
}

.div-for-skill-logos {

}

.ul-for-skill-logos {
  background: lightblue;
  display: inline-block;
  margin: 0 auto;
  max-width: 678px;
}

.ul-for-skill-logos > li {
  float: left;
  padding: 25px 50px;
}

.skill-logo-img {
  max-width: 120px;
}





/*----------MAIN CONTENT - SECTION FOUR - PROJECTS----------*/
.header-two {
  display: inline-block;
  margin: 0 auto 10px auto;
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px solid #66a0fd;
}

.section-four {
  margin-top: 100px;
  background: pink;
  text-align: center;
  font-size: 22px;
}

.project-picture-left > img {
  max-width: 100%;
}

.project-picture-right > img {
  max-width: 100%;
}

.project-one {

}

.project-picture-left {
  background: red;
  /*background-image: url(https://github.com/unsaltedMixedNuts/amazon-clone-zone/raw/master/public/screenshot.png);*/
  float: left;
  min-width: 510.5px;
  max-width: 50%;
  border-radius: 15px;
  overflow: hidden;
}

.project-picture-right {
  background: red;
  float: right;
  min-width: 510.5px;
  max-width: 50%;
  border-radius: 15px;
  overflow: hidden;
}

.project-description-left {
  background: purple;
  margin-top: 11%;
  float: left;
  min-width: 510.5px;
  max-width: 50%;
}

.project-description-right {
  /*background: #66a0fd;*/
  background: purple;
  margin-top: 11%;
  float: right;
  min-width: 510.5px;
  max-width: 50%;
}

.left-aligned-paragraph {
  text-align: left;
  margin: 0 30px;
}





/*----------MAIN CONTENT - SECTION FIVE - RESUME----------*/
.section-five {
  background: cyan;
  text-align: center;
  font-size: 22px;
}





/*----------FOOTER - CONTACT----------*/
.footer {
  background: white;
  text-align: center;
  font-size: 22px;
  min-width: 1021px;
  border-left: 1px solid orange;
  border-right: 1px solid orange;
}

.contact-link-div {
  border: 1px solid black;
  border-radius: 5px;
  width: 124px;
  height: 124px;
}

.contact-logo-img {
  max-width: 120px;
  margin: 0 auto;
}

.contact-logo-one {
  margin: 2px auto 0 auto;
}

.contact-logo-two {
  margin: 16px auto 0 auto;
}

.contact-logo-three {
  margin: 20px auto 0 auto;
}




/*----------TBD----------*/
